.header {
  background-color: #F7F7ED;
  border-bottom: 1px solid #e0e0e0;
  position: sticky;
  top: 0;
  height: 66px;
  z-index: 100;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.logo {
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  text-decoration: none;
}

.logo img {
  width: 40px;
  height: auto;
}

.navRightMenu a:hover {
  color: #ce5200;
}

.navRightMenu:hover a {
  color: #ce5200;
}

.logo_text {
  white-space: nowrap;
  font-size: 1.5rem;
  font-weight: bold;
  color: #A04100;
  text-decoration: none;
}

.spacer {
  flex: 1;
}

.navRight {
  flex: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
}

.navRightMenu {
  display: flex;
  gap: 1.5rem;
}

.navRightMenu a {
  color: #604545;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
} 

.cartIcon {
  text-decoration: none;
  font-size: 1.3rem;
  color: #000;
  display: inline-flex;
  align-items: center;
}

.cartIcon:hover {
  color: #ce5200;
}

.logo:hover {
  opacity: 0.95;
}


/* Responsive per schermi più piccoli */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 1rem;
    height: auto;
    padding: 0.75rem 0;
  }

  .spacer {
    display: none;
  }

  .navRight {
    width: 100%;
    justify-content: center;
  }
}

